*body{
    background-color: rgb(0, 255, 166);
    color: rgb(138, 165, 42);
    
}

.tres{
    background-color: rgb(52, 151, 227);
    color: rgb(15, 16, 16);
    display: grid;
    font-weight: 50px;
    font-size: medium;
    padding: 100px;
    position: relative;
    right: 10px;
    bottom: 11px;
    font-size: 30px;
    
    
}
.red{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: alternate;
    background-color: rgb(148, 163, 19);
}
.cuatro{
    background-color: rgb(52, 227, 137);
    color: rgb(119, 9, 9);
    display: grid;
    font-weight: 50px;
    font-size: medium;
    padding: 10px;
    position: relative;
    right: 5px;
    bottom: 5px;
    font-size: 40px;
}